[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
pyarrow = "*"
matplotlib = "*"
seaborn = "*"
notebook = "*"
pyyaml = "*"
radon = "*"
GitPython = "*"
transformers = "*"
torch = "*"
xgboost = "*"

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.5"
tqdm = "*"
tabulate = "*"
ipynbname = "*"
cookiecutter-data-science = "*"
