[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
pyarrow = "*"
matplotlib = "*"
seaborn = "*"
notebook = "*"
jupyterlab = "*"
pyyaml = "*"
radon = "*"
GitPython = "*"
transformers = "*"
torch = "*"
nltk = "*"
tqdm = "*"
sentence-transformers = "*"

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.5"
